@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

:root {
  --color-textPrimary: #1976d2;
  --color-primary: #1976d2;
  --color-secondry: #171a3d;
  --color-buttonPrimary: #5ca5e2;
  --color-buttonSecondry: #1b2638;
  --color-bg: theme(colors.white);
  --color-text: theme(colors.black);
}
/* .dark {
  background: #121530;
} */

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-poppins: "Poppins", sans-serif;
  --radius-5xl: 3rem;
  --color-primary: #1976d2;
  --color-textPrimary: #1976d2;
  --color-secondry: #171a3d;
  --color-buttonPrimary: #5ca5e2;
  --color-buttonSecondry: #1b2638;
  --color-bg-light: theme(colors.white);
  --color-bg-dark: theme(colors.slate.900);
  --color-text-light: theme(colors.black);
  --color-text-dark: theme(colors.white);
}

body {
  overflow: hidden;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* You can change this */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  border: 2px solid transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

/* For Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.4) transparent;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
